name: SonarCloud analysis

on:
  push:
    branches: [ "master" ]  # <--- Aqui está o segredo: aponta para sua branch master
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:        # Permite clicar no botão "Run workflow" manualmente se precisar

permissions:
  pull-requests: read # Permite que o Sonar comente nos PRs

jobs:
  build:
    name: Build and Analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Importante: Clona todo o histórico para o Sonar não se perder

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Token automático do GitHub
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}    # O token que você configurou nos Secrets
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar